.no_games_title {
	text-align: center;
	text-decoration: underline;
}

.dpad {
	display: inline;
}

.welcome_message_container {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	background-color: rgba(0, 19, 77, 0.7);
}

.no_games_title_container {
	text-align: center;
}
.no_games_title {
	font-size: 1.5em;
	font-family: 'Audiowide', cursive;
}

.welcome_message {
	color: white;
	font-size: 2.8em;
	font-family: 'Audiowide', cursive;
}

.dashboard_image_container {
	margin-top: 20px;
	text-align: center;
}

.start_searching_message{
	color: white;
	font-family: 'Audiowide', cursive;
}

.nogames_subtitle {
	color: white;
	font-family: 'Audiowide', cursive;
}

/*<CurrentGameProgress> CSS*/
.welcome_title {
	text-align: center;
	font-size: 3.0em;
	text-decoration: underline
}

.currentGameProgress_contents {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	background-color: rgba(0, 19, 77, 0.7);
}

.dash_game_title {
	color: white;
	font-size: 2.5em;
}

.dash_game_box_art {
	max-height: 500px;
	max-width: 299.5px;
}

.dash_percent_title {
	margin-top: 20px;
	color: white;
	font-size: 1.8em;
}

.dash_progress_circle {
	width: 300;
}

/*<CurrentGameChapters/> CSS*/

.dash_game_chapters {
	margin-top: 20px;
}

.chapters_section_title {
	text-align: center;
	text-decoration: underline;
	font-size:2.5em;
}

.dash_chapter_list {
	list-style: none;
	font-size: 1.4em;
	text-align: center;
	padding-left: 0px;
}

/*<CurrentBacklog/> CSS*/

.mini_game_collection {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: rgba(0, 19, 77, 0.7);
}

.collection_title {
	font-size: 2.5em;
	color: white;
/*	text-decoration: underline;*/
}

.collection_game_title{
	color: white;
	font-size: 1.8em;
	margin-bottom: 5px;
	margin-top: 15px;
}

.collection_game_box_art {
	width: 150px;
}

.update_progress_button {
	display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.game_info_button {
	font-size: 1.5em;
}

.backlog_link_button {
	margin-top: 10px;
	font-size: 1.5em;
}

/*Responsive Design*/
  @media (min-width:500px) {
    .empty_case_image {
		height: 300px;
	}
/*	.collection_game_box_art {
	width: 150px;
} Increase for bigger box arts*/
  }