.info_main_game_title {
	text-align: center;
	font-size: 3.0em;
	text-decoration: underline;
	font-family: 'Audiowide', cursive;
}

.main_game_info_container {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: rgba(0, 19, 77, 0.7);
	padding-top: 10px;
	color: white;
}

.info_game_box_art {
	width: 50%;
	max-width: 400px;
}

.info_completion_time {
	font-size: 1.2em;
	font-family: 'Orbitron', sans-serif;
}

.info_game_summary {
	margin-left: 2%;
	margin-right: 2%;
	font-size: 1.2em;
	font-family: 'Audiowide', cursive;

}

.info_game_genre {
	font-size: 1.2em;
	font-family: 'Bungee Inline', cursive;
}

/*<Ratings /> CSS*/
.info_scores {
	margin-top: 20px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: rgba(0, 19, 77, 0.7);
	text-align: center;
	padding-bottom: 10px;
	color: white;
}



.info_rating_title {
	font-size:2.7em;
	text-decoration: underline;
	color: white;
	font-family: 'Audiowide', cursive;
	padding-top: 10px;
}

.critic_avg_score {
	font-size:1.4em;
	font-family: 'Audiowide', cursive;
}

.user_avg_score {
	font-size:1.4em;	
	margin-top: 10px;
	font-family: 'Audiowide', cursive;
}

.add_game_to_collection_section {
	margin-top: 20px;
	text-align: center;
}

.add_to_collection_button {
    font-size: 2.0em;
    margin-left: 2%;
    margin-right: 2%;;
	font-family: 'Audiowide', cursive;
}

/*<SimilarGames /> CSS*/

.similar_games_section {
	margin-top: 20px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: rgba(0, 19, 77, 0.7);
	text-align: center;
	margin-bottom: 10px;
}

.similar_games_title {
	color: white;
	text-decoration: underline;
	font-family: 'Audiowide', cursive;
	padding-top: 10px;
}

.info_games_list {
	padding-left: 0px;
}

.similar_game_box_art {
	width: 25%;
	max-width: 150px;
}

.info_game_title {
	font-size: 1.2em;
	margin-top: 5px;
	font-family: 'Orbitron', sans-serif;
}

.info_game_link {
	color: white;
}

/*Not found CSS*/
.not_found_message {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: rgba(0, 19, 77, 0.7);
	color: white;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;

}

.not_found_title {
	color: white;
}

.not_found_subtitle{
	font-size: 2.0em;
	margin-top: 10px;
    margin-bottom: 10px;
}
.no_game_image {
	width:30%;
	max-width: 300px;
}

/*Responsive Design CSS*/

@media(min-width:700px) {
	.main_game_info_container  {
		margin-left: 2%;
    	margin-right: 2%;
    	border: 2px solid black;
	}
	.info_scores  {
    	border: 2px solid black;
		margin-left: 15%;
    	margin-right: 15%;
	}

	.info_scores_container {
		display: flex;
		align-items: center;
    	justify-content: space-evenly;
    	padding-left: 5%;
    	padding-right: 15%;
	}
	.info_games_list {
		display: flex;
    	justify-content: space-around;
    	align-items: flex-end;
    	flex-wrap: wrap;
	}
	.similar_games_section {
		margin-left: 3%;
		margin-right: 3%;
	}
	.similar_game_box_art {
		width: 100%;
    	max-width: 100px;
    	max-height: 200px;
	}
	.not_found_message {
		margin-left: 10%;
		margin-right: 10%;
		border: 2px solid black;
	}
}

@media(min-width:1050px) {
	.main_game_info_container{
		text-align: left;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
	.info_game_art_container {
		width: 40%;
    	display: inline-block;
    	margin-bottom: 10px;
	}

	.info_game_box_art {
		width: 100%;
    	max-width: 300px;
	}

	.info_completion_time {
		display: inline-block;
	}

	.info_summary_and_genre{
		width: 40%;
    	display: inline-block;
    	text-align: center;
	}

	.info_completion_time{
		text-decoration: underline;
	}