/*Fonts used: font-family: 'Orbitron', sans-serif;
			  font-family: 'Merienda One', cursive;*/
.login_content {
	margin-top: 30px;
}
.login_form {
	/*border: 2px solid black;*/
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
/*	margin-left: 10%;
	margin-right: 10%;*/
	background-color: rgba(0, 19, 77, 0.7);
}

.form_title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 4.0em;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

.login_character_container {
	text-align: center
}

.login_label {
	font-size: 2.0em;
	color: white;
}

.login_input {
	font-size: 1.5em;
	width: 50%;
}

.login_button {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 1.3em;
	width: 40%;
	font-family: 'Merienda One', cursive;
}