/*CSS for Home.js*/
body {
	background: url(grey2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.jumbotron.title_section {
  color: black;
  margin-bottom: 10px;
  background-image: url(home.jpg);
  background-position: center 65%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.7em;
  min-height: 325px
}

.main_title {
	margin-top: 20px;
	font-size: 5.5em;
	text-align: center;
	font-family: 'Audiowide', cursive;
	margin-left: 2%;
	margin-right:2%;
}

#main_subtitle {
	font-size: 2.3em;
	text-align: center;
	font-family: 'Audiowide', cursive;
}

.landing_page_info {
	text-align: center;
}

.title_text {
	text-decoration: underline;
	font-size: 1.1em;
	font-family: 'Bungee Inline', cursive;
}

.landing_page_details {
	font-size: 1.4em;
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Audiowide', cursive;
/*	font-family: 'Merienda One', cursive;*/
}

.crash_character {
	max-width: 250px;
	max-height: 250px;
}

.layton_character {
	max-width: 200px;
	max-height: 250px;
}

.mario_character {
	max-width: 300px;
	max-height: 250px;
}

.ready_button_title {
	margin-top: 30px;
	text-decoration: underline;
	margin-bottom: 10px;
	font-family: 'Merienda One', cursive;
}

.home_sign_up_button {
	font-size: 1.3em;
	font-family: 'Merienda One', cursive;
}

/*.more_info {
	border: 1px solid black;
}*/

hr.style11 {
	width: 50%;
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
