/*CSS for Home.js*/
body {
	background: url(grey2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.jumbotron.title_section {
  color: black;
  margin-bottom: 10px;
  background-image: url(home.jpg);
  background-position: center 65%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.7em;
  min-height: 325px
}

.main_title {
	margin-top: 20px;
	font-size: 3.5em;
	text-align: center;
	font-family: 'Audiowide', cursive;
	margin-left: 2%;
	margin-right:2%;
}

#main_subtitle {
	font-size: 2.3em;
	text-align: center;
	font-family: 'Audiowide', cursive;
}

.landing_page_info {
	text-align: center;
}

.title_text {
	text-decoration: underline;
	font-size: 1.1em;
	font-family: 'Bungee Inline', cursive;
}

.landing_page_details {
	font-size: 1.4em;
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Audiowide', cursive;
/*	font-family: 'Merienda One', cursive;*/
}

.crash_character {
	max-width: 250px;
	max-height: 250px;
}

.layton_character {
	max-width: 200px;
	max-height: 250px;
}

.mario_character {
	max-width: 300px;
	max-height: 250px;
}

.ready_button_title {
	margin-top: 30px;
	text-decoration: underline;
	margin-bottom: 10px;
	font-family: 'Merienda One', cursive;
}

.home_sign_up_button {
	font-size: 1.3em;
	font-family: 'Merienda One', cursive;
}

/*.more_info {
	border: 1px solid black;
}*/

hr.style11 {
	width: 50%;
	height: 6px;
	background: url("/images/hr-11.png") repeat-x 0 0;
    border: 0;
    clear: both;
}

@media (min-width: 880px) {
	.home_character_container {
		float: left;
    	margin-left: 16%;
    	position: relative;
    	top: -72px;
	}

	.main_title {
		font-size: 5.5em;
	}

	.info_one {
		padding-top: 20px;		
	}

	.info_one_title {
		margin-top: 5px;
	}

	.landing_page_title {
		margin-left: 45%;
    	margin-right: 10%;

	}
	.landing_page_details{
		margin-left: 45%;
    	margin-right: 10%;
	}
}

@media (min-width: 1150px) {
	.title_text {
		font-size: 1.5em;
	}
	.landing_page_details {
		font-size: 1.7em;
	}

	.home_character_container {
    	margin-left: 17%;
    	top: -117px;
	}

	.crash_character {
		max-width: 325px;
    	max-height: 325px;
	}

	.layton_character {
		max-width: 325px;
    	max-height: 325px;
    	margin-top: 10px;
	}

	.mario_character {
		max-width: 325px;
    	max-height: 325px;
    	margin-top: 20px;
	}
	hr.style11{
		position: relative;
		top:-35px;
	}

}

@media(min-width: 1450px) {
	.mario_character {
		margin-top:40px;
	}
	hr.style11{
		top:-53px;
	}
}

@media(min-width: 1580px) {
	.layton_character {
		margin-top: 40px;
	}
}

@media(min-width: 1650px) {
	.home_character_container {
    	margin-left: 17%;
    	top: -117px;
	}

	.landing_page_title {
	    margin-left: 38%;
	}
	.landing_page_details{
		margin-left: 38%;
	}
}
}