body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  /*Full Background*/
/*  background: url(footer_lodyas.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;*/
}

.error {
	color: red;
}

.error_message {
	color: red;
}

.hidden {
	display: none;
}